# Build
bin/
obj/
out/

test-results/


# Visual Studio / VS Code
.vs/
.vscode/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
.nuget/

# dotnet tools / cache
.dotnet/
*.dotnet-tools.json

# Logs
*.log
!src/EasySave.Log/
!src/EasySave.Log/**
src/EasySave.Log/obj/
